@keyframes slideDown {
  0% {
    transform: translateY(-5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes cursorAnimation {
  0%,
  100% { opacity: 0; }
  50% { opacity: 1; }
}

.aboutMe {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;

  .aboutMeText {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 640px;

    .aboutTitle { 
      color: #cacaca;
      font-size: 1.8em;
      line-height: 1.7em;
      font-weight: 700;
      letter-spacing: -1.5px;
    }

    .aboutContent {
      display: flex;
      flex-wrap: wrap;
      font-family: "Lato", sans-serif;
      color: #8a8a8a;
      font-size: 1.05em;
      line-height: 1.95em;
      font-weight: 400;
      z-index: 10;
      justify-content: center;
      align-items: center;
      gap: 3px;
      @for $i from 1 through 40 {
        span:nth-child(#{$i}) {
          animation: slideDown 0.3s ease-out; 
          animation-delay: #{$i * 0.05}s; 
          animation-fill-mode: forwards; 
        }
      }
    }
    .aboutContent > *{
      opacity: 0;
    }
  }
} 

.cursor {
  animation: cursorAnimation 0.5s infinite;
  animation-delay: 2s;
}

.texture {
  display: flex;
  position: relative;
  width: fit-content;

  &:hover {
    &::before,
    &::after {
      width: 100%;
    }
    a {
      color: #b6b6b6;
    }
  }

  &::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 0;
    top: 0;
    left: 0;
    background-color: #3a3a3a;
    transition: width 0.325s cubic-bezier(0.65, 0.2, 0, 1);
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    height: 16px;
    width: 0;
    bottom: 0;
    right: 0;
    background-color: #3d3d3d;
    transition-delay: 1s;
    transition: width 0.325s cubic-bezier(0.65, 0.2, 0, 1);
    z-index: 1;
  }

  a {
    font-family: inherit;
    font-size: 1.1em;
    line-height: 1.125em;
    font-weight: 700;
    color: #9a9a9a;
    padding: 4px 0;
    z-index: 99;
  }
}
