footer{
  line-height: 20px;
  color: #8a8a8a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 0 80px;
  h4{
    color: #cacaca;
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 1.15em; 
    line-height: 1.7em;
  }
  .footertext{
    font-size: 1em;
    line-height: 1.45em;
    display: inline-block;
  }
}