* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  // list-style-type: none;
  box-sizing: border-box;
}
body::-webkit-scrollbar{
  background: transparent;
  width: 5px;
} 
body::-webkit-scrollbar-thumb{
  background-color: #515151;
}
body::-webkit-scrollbar-corner{
  background-color: transparent;
}
body{
  color: #8a8a8a;
  background-color: #2d2d2d;
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(to right,#333 1px,transparent 1px),linear-gradient((to bottom, #333 1px,transparent 1px));
  background-size: 40px 40px;
  cursor: none;
}
::selection {
    background-color: #98d4ff;
    color: #fff;
}
html {
  overflow-y: scroll;
}
.hidden {
  display: none;
}
.fade-in {
  opacity: 0;
  animation: fadeInAnimation 0.5s ease-in forwards;
}

@keyframes fadeInAnimation {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
} 
hr{
  border: none;
  background-color: #8a8a8a;
  height: 0.5px;
}

h2 {
  font-size: 2em;
  line-height: 1.35em;
  font-weight: 600;
  position: relative;
  display: block;
  letter-spacing: -.045em;
  padding: 0;
  margin-bottom: .4em;
  color: #cacaca;
}
p{
  font-size: 1.15em;
  color: #8a8a8a;
  font-family: Lato, Helvetica, Arial, sans-serif;
  line-height: 1.7em;
  word-spacing: 0.02em;
  font-weight: 400;
}