.socials {
  position: absolute;
  left: 0;
  ul {
    display: flex;
    flex-direction: column;
    li {
      .github {
        background-color: #4e545a;
      } 
      .linkedin {
        background-color: #0077ba;
      }
      .insta {
        background: radial-gradient(
            circle at 25% 110%,
            #fdf497 0,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%
          ),
          radial-gradient(
            circle at 25% 110%,
            #b9a800 0,
            #938500 5%,
            #b10f00 45%,
            #8c0061 60%,
            #002ca9 90%
          );
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75px;
        height: 55px;
        padding-left: 20px;
        margin-left: -20px;
        transition: 0.425s cubic-bezier(0.05, 0.65, 0.18, 1);
        &:hover {
          margin-left: 0;
        }
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
